
@import "vendor.css"
@import "mixins/stretch"
@import "mixins/clearfix"

@import "fonts/helveticaneue-light"
@import "fonts/helveticaneue-regular"
@import "fonts/helveticaneue-medium"
@import "fonts/helveticaneue-bold"

//@import "fonts/itc-charter-roman"
//@import "fonts/itc-charter-bold"


//@ RESPONSIVE WIDTHS ..
//@ ----------------------------------------------------------------------------
$breakpt-mobl = 480px
$breakpt-tabl = 768px
$breakpt-desk = 992px


//@ APP UI VARS ..
//@ ----------------------------------------------------------------------------
app-outer-width = 1400px
// app-inner-width = 1140px  #<<  <TODO> - 1140 is actual inner width..
app-outer-height = 1400px
app-inner-width = 1006px
app-outer-gutters = (app-outer-width - app-inner-width)

//@ offset the inner container by 30%
outer-padding-lt = round(app-outer-gutters * 0.3)
outer-padding-rt = round(app-outer-gutters * 0.7)

header-outer-height = 230px
header-inner-height = 134px  //<<  height for:  .header-inner
//@  ~header-inner-gutter == 48px margin-top..
header-inner-gutter = round((header-outer-height - header-inner-height) / 2)


//@ STYLE VARS
//@ ----------------------------------------------------------------------------
bgcolor = hsla(0, 0%, 0%, 1)


html, body
  min-height 2000px
  background-color bgcolor
  font-family Helvetica, Arial, sans-serif
  line-height initial
  margin 0
  padding 0


body
  background-image url('/img/bg/_H3A0494b_gregory_nicholas_@1x.jpg')
  background-repeat no-repeat
  -webkit-background-size auto 100%
  -moz-background-size auto 100%
  -ms-background-size auto 100%
  -o-background-size auto 100%
  background-size auto 100%
  background-attachment fixed
  background-position center 0px



//@ SCREEN RESPONSIVENESS

//@ phone: portrait and landscape..
@media (min-device-width: 320px) and (max-device-width: 480px)
  .app-outer
    padding-left round(outer-padding-lt / 2)

//@ tablet: portrait and landscape..
// @media (min-device-width: 768px) and (max-device-width: 1024px)



//@ ADJUST THE HEADER

@media (min-width: 480px)
  header
    .its-80-and-bullshit
      display none


@media (max-width: 991px)
  header
    .its-80-and-bullshit
      display none


@media (min-width: 992px)
  body
    position absolute
    width 100vw
    min-width app-outer-width

  //@ show the bullshit only on bigger screens
  header
    .its-80-and-bullshit
      display block

  .app-outer
    //@ subtract the padding
    //@ width = (app-outer-width - (outer-padding-lt + outer-padding-rt))
    width app-outer-width
    padding-left outer-padding-lt

  .app-inner
    width app-inner-width
    margin-left 40px


header
  padding-bottom 52px

  .its-80-and-bullshit
    //@ width = ~490px
    height header-inner-height
    background-image url('/img/header-01-weather-report.png')
    background-repeat no-repeat
    background-position right top
    opacity 0.18 !important

  .gregorynicholas-roles
    //@ width = ~391px
    height header-inner-height
    background-image url('/img/header-02-roles.png')
    background-repeat no-repeat
    opacity 0.18 !important
    -webkit-transition opacity 3s ease-in-out
    -moz-transition opacity 3s ease-in-out
    -o-transition opacity 3s ease-in-out
    transition opacity 3s
    &:hover
      opacity 0.8
      -webkit-transition opacity 0.4s ease-in-out
      -moz-transition opacity 0.4s ease-in-out
      -o-transition opacity 0.4s ease-in-out
      transition opacity 0.4s

  .logo-wrapper
    //@ width = ~125px
    height header-inner-height
    background-repeat no-repeat
    background-position center center
    background-size contain
    margin-top -30px
    height 234px

    &.animated-gif
      background-image url('/img/header-03-logo.gif')

    //&.animated-css3
    //  background-image url('/img/header-03-logo-ring.png')

    .gregorynicholas-logo
      width 125px
      height header-inner-height
      background-image url('/img/header-03-logo.png')
      background-repeat no-repeat
      margin 0 auto
      transform scale3d(0.5,0.5,0.5)
      margin-top 30px


.header-inner
  height header-inner-height
  margin-top header-inner-gutter








//@@
//@ SECTION-ABOUT
//@
.section-about

  .title
    font-family serif
    font-size 2em
    text-transform lowercase

  .summary
    font-family serif
    font-size 1.5em
    text-transform lowercase


//@@
//@ SECTION-SKILLS
//@
.section-skills

  .skill
    overflow hidden
    text-indent -9999px
    background-image url('')
    background-position center center
    background-repeat no-repeat
    background-color hsla(0, 2%, 2%, 1)

    min-height 200px



//@@
//@ SECTION-CONTACT-CTA-01
//@
.section-contact-cta

  .contact-cta-01
    font-family serif
    font-size 2em
    text-transform uppercase


//@@
//@ SECTION-COMPANIES
//@
.section-companies

  .company
    overflow hidden
    text-indent -9999px
    background-image url('')
    background-position center center
    background-repeat no-repeat
    background-color hsla(0, 2%, 2%, 1)

    min-height 200px



//@@
//@ SECTION-PROJECTS
//@
.section-projects

  .project

    .project-title
      font-family serif
      font-size 2em
      text-transform uppercase

    .project-media
      min-width 100%
      min-height 300px
      background-color hsla(0, 2%, 2%, 1)


//@@
//@ SECTION-CONTACT-CTA-02
//@
.section-contact-cta

  .contact-cta-02
    font-family serif
    font-size 2em
    text-transform uppercase


//@@
//@ SECTION-INVESTORS
//@
.section-investors

  .investor
    overflow hidden
    text-indent -9999px
    background-image url('')
    background-position center center
    background-repeat no-repeat
    background-color hsla(0, 2%, 2%, 1)

    min-height 200px


  .investors.investors-venture-funds
    margin-top 20px
    margin-bottom 20px
    padding-top 20px
    padding-bottom 20px

  .investors.investors-angels
    margin-top 20px
    margin-bottom 20px
    padding-top 20px
    padding-bottom 20px
