
@font-face
  font-family 'HelveticaNeueLight'
  src url('/fonts/helvetica-neue-light/helveticaneuelight.eot');
  src url('/fonts/helvetica-neue-light/helveticaneuelight.eot') format('embedded-opentype'),
      url('/fonts/helvetica-neue-light/helveticaneuelight.woff') format('woff'),
      url('/fonts/helvetica-neue-light/helveticaneuelight.ttf') format('truetype'),
      url('/fonts/helvetica-neue-light/helveticaneuelight.svg#HelveticaNeueLight') format('svg')
