
@font-face
  font-family 'HelveticaNeueMedium'
  src url('/fonts/helvetica-neue-medium/helveticaneuemedium.eot');
  src url('/fonts/helvetica-neue-medium/helveticaneuemedium.eot') format('embedded-opentype'),
      url('/fonts/helvetica-neue-medium/helveticaneuemedium.woff') format('woff'),
      url('/fonts/helvetica-neue-medium/helveticaneuemedium.ttf') format('truetype'),
      url('/fonts/helvetica-neue-medium/helveticaneuemedium.svg#HelveticaNeueMedium') format('svg')
