
@font-face
  font-family 'HelveticaNeueBold'
  src url('/fonts/helvetica-neue-bold/helveticaneuebold.eot')
  src url('/fonts/helvetica-neue-bold/helveticaneuebold.eot') format('embedded-opentype'),
      url('/fonts/helvetica-neue-bold/helveticaneuebold.woff') format('woff'),
      url('/fonts/helvetica-neue-bold/helveticaneuebold.ttf') format('truetype'),
      url('/fonts/helvetica-neue-bold/helveticaneuebold.svg#HelveticaNeueBold') format('svg')
