@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('/fonts/helveticaneuelight.eot');
    src: url('/fonts/helveticaneuelight.eot') format('embedded-opentype'),
         url('/fonts/helveticaneuelight.woff') format('woff'),
         url('/fonts/helveticaneuelight.ttf') format('truetype'),
         url('/fonts/helveticaneuelight.svg#HelveticaNeueLight') format('svg');
}
