
@font-face
  font-family 'CharterRoman'
  src url('/fonts/itc-charter-roman.eot')
  src url('/fonts/itc-charter-roman.eot') format('embedded-opentype'),
      url('/fonts/itc-charter-roman.woff') format('woff'),
      url('/fonts/itc-charter-roman.ttf') format('truetype'),
      url('/fonts/itc-charter-roman.svg#CharterRoman') format('svg')
